<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <title><?js= title ?> | HivePress Hook Reference</title>

	    <script src="scripts/prettify/prettify.js"> </script>
	    <script src="scripts/prettify/lang-css.js"> </script>

		<link rel="preconnect" href="https://fonts.googleapis.com">
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

	    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
	    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">

		<link type="text/css" rel="stylesheet" href="style.css">
	</head>
	<body<?js if (title === 'Home') { ?> class="home"<?js } ?>>
		<header class="site-header">
			<div class="header-logo">
				<a href="https://hivepress.io/"><img width="186" src="logo.svg" alt="HivePress" /></a>
			</div>
			<div class="header-menu">
				<ul>
					<li><a href="#">Todo</a></li>
				</ul>
			</div>
		</header>
		<div class="site-content">
			<div class="container">
				<main id="main">
					<?js if (title !== 'Home') { ?>
					<h1 class="page-title"><?js= title ?></h1>
					<?js } ?>
					<?js= content ?>
				</main>
				<nav>
					<?js= this.nav ?>
				</nav>
				<br class="clear">
			</div>
		</div>

		<script> prettyPrint(); </script>
		<script src="scripts/linenumber.js"> </script>
	</body>
</html>
